* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #706C61;
}

main {
    display: flex;
    flex-direction: row;
}

main section#cartelas {
    width: 60%;
    height: 86vh;
    background-color: #899E8B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
}

main section#numeros {
    width: 40%;
    height: 86vh;
    background-color: #899E8B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
}

section#cartelas div {
    display: flex;
    width: 100%;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0px;
    height: 4vh;
    background-color: #706C61;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timain {
    padding-top: 10px;
    font-size: 40px;
    font-family: arial;
    color: rgb(255, 255, 255);
}

#timain1 {
    font-size: 50px;
    font-family: arial;
    color: rgb(255, 255, 255);
}

#gb {
    width: 90px;
    height: 40px;
    margin-top: 3px;
    margin-right: 10px;
    background-color: #299c34; 
    color: #FFFFFF; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px; 
}

#gb:hover {
    background-color: #00ff3c;
}

#vb {
    width: 90px;
    height: 40px;
    margin-top: 3px;
    margin-left: 10px;
    background-color: #9c2929; 
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    border-radius: 15px;
}

#vb:hover {
background-color: #ff0000; 
}

#gb {
    width: 90px;
    height: 40px;
    margin-top: 3px;
    margin-right: 10px;
    background-color: #299c34; 
    color: #FFFFFF; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px; 
}

#gb:hover {
    background-color: #00ff3c;
}

table{
    border: #706C61;
}